.left-col {
	background: #fff;
	width: 300px;
	position:fixed;
	opacity:1;
	transition:all .2s ease-in;
	height:100%;
	z-index: 999;
	&.show {
		@extend %shadow;
	}
	.overlay{
		width: 100%;
		height: 110px;
		position: absolute;
	}

	.intrude-less {
		width: 76%;
		text-align: center;
		margin: 42px auto 0;
	}

	#header{
		width:100%;
		height: 300px;
		position: relative;
		border-bottom: 1px solid color-border;
		a {
			color: #696969;
			&:hover {
				color: #B0A0AA;
			}
		}
		.header-subtitle{
			text-align: center;
			color:#999;
			font-size: 14px;
			line-height: 25px;
			overflow: hidden;
			text-overflow: ellipsis;
			// display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		.header-menu{
			font-weight: 300;
			line-height: 31px;
			text-transform: uppercase;
			float:none;
			min-height: 114px;
			margin-left: -12px;
			text-align: center;
			display: -webkit-box;
			-webkit-box-orient: horizontal;
			-webkit-box-pack: center;
			-webkit-box-align: center;
			li{
				cursor: default;
				a{
					font-size: 15px;
					min-width: 300px;
				}
			}
		}
		.header-smart-menu {
			font-size: 14px;
			margin-bottom: 10px;
			a {
				&:after {
					content: '/'
				}
				&:last-child {
					&:after {
						content: ''
					}
				}
			}
		}
		.profilepic{
			text-align: center;
			display: block;
			border: 5px solid #fff;
			border-radius: 300px;
			width: 128px;
			height: 128px;
			margin: 0 auto;
			position: relative;
			overflow: hidden;
			background: #88acdb;
			-webkit-transition: all 0.2s ease-in;
			display: -webkit-box;
			-webkit-box-orient: horizontal;
			-webkit-box-pack: center;
			-webkit-box-align: center;
			text-align: center;
			img{
				border-radius: 300px;
				opacity: 1;
				-webkit-transition: all 0.2s ease-in;
				&.show{
					width: 100%;
					height: 100%;
					opacity: 1;
				}
			}
		}
		.header-author{
			text-align: center;
			margin: 0.27em 0;
			font-family: Roboto, "Roboto", serif;
			font-size: 28px;
			transition: 0.3s;
		}
	}
	/**  对话面板  **/
	#landlord {
		// user-select: none;
		position: fixed;
		left: 3px;
		bottom: 0;
		width: 280px;
		height: 250px;
		// z-index: -1;
		// font-size: 0;
		// transition: all .3s ease-in-out;
	}
	
	.message {
		opacity: 0;
		width: 292px;
		height: auto;
		margin: auto;
		padding: 7px;
		top: -50px;
		// left: -32px;
		text-align: center;
		border: 1px solid rgba(255,137,255,.4);
		border-radius: 12px;
		background-color: rgba(255,137,255,.2);
		box-shadow: 0 3px 15px 2px rgba(255,137,255,.4);
		font-size: 13px;
		font-weight: 400;
		text-overflow: ellipsis;
		text-transform: uppercase;
		overflow: hidden;
		position: absolute;
		animation-delay: 5s;
		animation-duration: 50s;
		animation-iteration-count: infinite;
		animation-name: shake;
		animation-timing-function: ease-in-out;
	}
	
	.hide-button {
		position: absolute;
		top: 10px;
		right: 0;
		/* bottom: 30px; */
		display: none;
		overflow: hidden;
		/* padding: 4px; */
		width: 60px;
		height: 20px;
		border: 1px solid rgba(255,137,255,.4);
		border-radius: 12px;
		background: rgba(255,137,255,.2);
		box-shadow: 0 3px 15px 2px rgba(255,137,255,.4);
		text-align: center;
		font-size: 12px;
		cursor: pointer;
	}
	
	.hide-button:hover {
		border: 1px solid #f4a7b9;
		background: #f4f6f8;
	}
	
	// @media (max-width: 860px) {
	// 	#landlord {
	// 		display: none;
	// 	}
	// }
	
	@keyframes shake {
		2% {
			transform: translate(0.5px, -1.5px) rotate(-0.5deg);
		}
	
		4% {
			transform: translate(0.5px, 1.5px) rotate(1.5deg);
		}
	
		6% {
			transform: translate(1.5px, 1.5px) rotate(1.5deg);
		}
	
		8% {
			transform: translate(2.5px, 1.5px) rotate(0.5deg);
		}
	
		10% {
			transform: translate(0.5px, 2.5px) rotate(0.5deg);
		}
	
		12% {
			transform: translate(1.5px, 1.5px) rotate(0.5deg);
		}
	
		14% {
			transform: translate(0.5px, 0.5px) rotate(0.5deg);
		}
	
		16% {
			transform: translate(-1.5px, -0.5px) rotate(1.5deg);
		}
	
		18% {
			transform: translate(0.5px, 0.5px) rotate(1.5deg);
		}
	
		20% {
			transform: translate(2.5px, 2.5px) rotate(1.5deg);
		}
	
		22% {
			transform: translate(0.5px, -1.5px) rotate(1.5deg);
		}
	
		24% {
			transform: translate(-1.5px, 1.5px) rotate(-0.5deg);
		}
	
		26% {
			transform: translate(1.5px, 0.5px) rotate(1.5deg);
		}
	
		28% {
			transform: translate(-0.5px, -0.5px) rotate(-0.5deg);
		}
	
		30% {
			transform: translate(1.5px, -0.5px) rotate(-0.5deg);
		}
	
		32% {
			transform: translate(2.5px, -1.5px) rotate(1.5deg);
		}
	
		34% {
			transform: translate(2.5px, 2.5px) rotate(-0.5deg);
		}
	
		36% {
			transform: translate(0.5px, -1.5px) rotate(0.5deg);
		}
	
		38% {
			transform: translate(2.5px, -0.5px) rotate(-0.5deg);
		}
	
		40% {
			transform: translate(-0.5px, 2.5px) rotate(0.5deg);
		}
	
		42% {
			transform: translate(-1.5px, 2.5px) rotate(0.5deg);
		}
	
		44% {
			transform: translate(-1.5px, 1.5px) rotate(0.5deg);
		}
	
		46% {
			transform: translate(1.5px, -0.5px) rotate(-0.5deg);
		}
	
		48% {
			transform: translate(2.5px, -0.5px) rotate(0.5deg);
		}
	
		50% {
			transform: translate(-1.5px, 1.5px) rotate(0.5deg);
		}
	
		52% {
			transform: translate(-0.5px, 1.5px) rotate(0.5deg);
		}
	
		54% {
			transform: translate(-1.5px, 1.5px) rotate(0.5deg);
		}
	
		56% {
			transform: translate(0.5px, 2.5px) rotate(1.5deg);
		}
	
		58% {
			transform: translate(2.5px, 2.5px) rotate(0.5deg);
		}
	
		60% {
			transform: translate(2.5px, -1.5px) rotate(1.5deg);
		}
	
		62% {
			transform: translate(-1.5px, 0.5px) rotate(1.5deg);
		}
	
		64% {
			transform: translate(-1.5px, 1.5px) rotate(1.5deg);
		}
	
		66% {
			transform: translate(0.5px, 2.5px) rotate(1.5deg);
		}
	
		68% {
			transform: translate(2.5px, -1.5px) rotate(1.5deg);
		}
	
		70% {
			transform: translate(2.5px, 2.5px) rotate(0.5deg);
		}
	
		72% {
			transform: translate(-0.5px, -1.5px) rotate(1.5deg);
		}
	
		74% {
			transform: translate(-1.5px, 2.5px) rotate(1.5deg);
		}
	
		76% {
			transform: translate(-1.5px, 2.5px) rotate(1.5deg);
		}
	
		78% {
			transform: translate(-1.5px, 2.5px) rotate(0.5deg);
		}
	
		80% {
			transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
		}
	
		82% {
			transform: translate(-1.5px, 0.5px) rotate(-0.5deg);
		}
	
		84% {
			transform: translate(-0.5px, 0.5px) rotate(1.5deg);
		}
	
		86% {
			transform: translate(2.5px, 1.5px) rotate(0.5deg);
		}
	
		88% {
			transform: translate(-1.5px, 0.5px) rotate(1.5deg);
		}
	
		90% {
			transform: translate(-1.5px, -0.5px) rotate(-0.5deg);
		}
	
		92% {
			transform: translate(-1.5px, -1.5px) rotate(1.5deg);
		}
	
		94% {
			transform: translate(0.5px, 0.5px) rotate(-0.5deg);
		}
	
		96% {
			transform: translate(2.5px, -0.5px) rotate(-0.5deg);
		}
	
		98% {
			transform: translate(-1.5px, -1.5px) rotate(-0.5deg);
		}
	
		0%, 100% {
			transform: translate(0, 0) rotate(0);
		}
	}
	@keyframes hoverShake {
		10%, 90% {
			transform: translate3d(-1px, 0, 0);
		}
		20%, 80% {
			transform: translate3d(2px, 0, 0);
		}
		30%, 50%, 70% {
			transform: translate3d(-4px, 0, 0);
		}
		40%, 60% {
			transform: translate3d(4px, 0, 0);
		}
	}
	#iamhiding {
		position: absolute;
		display: none;
		bottom: 20px;
		left: 7px;
		width: 80px;
		height: 80px;
		border-radius: 50%;
		/* background: rgb(77, 77, 77); */
		box-shadow: 0 3px 15px 2px rgba(255,137,255,.4);
		cursor: pointer;
		animation-delay: 0.2s;
		animation-duration: 50s;
		animation-iteration-count: infinite;
		animation-name: shake;
		animation-timing-function: ease-in-out;
	}
	#iamhiding:hover {
		animation: hoverShake 0.82s cubic-bezier(.36, .07, .19, .97) both;
		transform: translate3d(0, 0, 0);
		backface-visibility: hidden;
	}
	/* chatbot */
	.chatbotkuang {
		position: absolute;
		top: 10px;
		right: 0;
		display: none;
		opacity: 0;
		overflow: hidden;
		border: 1px solid rgba(255,137,255,.4);
		background: rgba(255,137,255,.2);
		box-shadow: 0 3px 15px 2px rgba(255,137,255,.4);
		font-size: 12px;
		margin-top: 75px;
		width: 0px;
		height: 0px;
		left: 220px;
		border-radius: 5px;
	}
	.btn-default-styles {
		outline: none;
		resize: none;
		border: none;
		display: inline-block;
		padding: 4px 7px;
		font-size: 12px;
		font-weight: 400;
		line-height: 1.42857143;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		-ms-touch-action: manipulation;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		background: rgba(255,137,255,.2);
		color: #000;
		border-radius: 4px;
	}
	.btn-default-styles:focus {
		outline: none;
	}
	.btn-default-styles:hover {
		/* background: #c5c5c5; */
		animation: anniu 1s infinite;
	}
	.btn-default-styles:active {
		box-shadow: 0 2px 3px rgba(0, 0, 0, .2) inset;
	}
	.div-textarea{
		margin: 4%;
		width: 92%;
		min-height: 20px;
		max-height: 40px;
		padding: 3px;
		outline: 0;
		background: #fff;
		font-size: 14px;
		line-height: 20px;
		word-wrap: break-word;
		overflow-x: hidden;
		overflow-y: auto;
		user-modify: read-write-plaintext-only;    /*纯文本*/
		-webkit-user-modify: read-write-plaintext-only;
		-moz-user-modify: read-write-plaintext-only;
	}
	.div-textarea:focus{
		box-shadow: 0 0 15px rgba(255,137,255,.4);
	}
}